.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F7F8;
  height: 100vh;

}
.main{
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap:2em;
  background-color: #ffffff;
}
.empty-cell{
  color: #D3D3D3;
  
}
.container{
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col{
  flex-direction: column;
}

.gap-1{
  gap: 1em;
}

.data-cell{
  box-sizing: border-box;
  width: 80px;
  height: 50px;
  font-size: 1em;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  border: 1px solid #c4c2c2;
}
.header-cell{
  box-sizing: border-box;
  height: 25px;
  background-color: #a6a4a4;
  border: 1px solid #c4c2c2;

}

.red{
  color: red;
}
.gray{
  color:gray;
}

.heading{
  width: 557px;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  height: 25px;

  background-color: #e3e3e3;
  border: 1px solid #c4c2c2;
}
.blue{
  color: rgb(0, 147, 226);
  font-size: larger;
}
.title{
  font-size: x-large;
  font-weight: 600;
  
}
